<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>
    <div th:if="${#bools.isTrue(pet.isNew())}">New Pet</div>
    <div th:if="${#bools.isTrue(!pet.isNew())}">Edit Pet</div>

</h2>
<form th:object="${pet}" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="*{id}"/>
    <div class="form-group has-feedback">
        <div class="form-group">
            <label class="col-sm-2 control-label">Owner</label>
            <div class="col-sm-10">
                <span th:text="${owner.firstName + ' ' + owner.lastName}"/>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Pet Name</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input class="form-control col-sm-10" type="text" th:field="${pet.name}"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Pet Birthday</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input class="form-control col-sm-10" type="text" th:field="${pet.birthDate}"-->
                       <!--placeholder="YYYY-MM-DD" title="Enter a date in this format: YYYY-MM-DD"-->
                       <!--pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|-->
               <!--(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"/>-->
            <!--</div>-->
        <!--</div>-->

        <input
        th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
        <input
        th:replace="~{fragments/inputField :: input ('Birth Date', 'birthDate', 'date')}" />

        <input
        th:replace="~{fragments/selectField :: select ('Type', petType, ${types})}" />

        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Pet Type </label>-->
            <!--<div class="col-sm-10">-->

                <!--<select class="form-control" itemtype="text" th:field="${pet.petType.id}">-->
                    <!--<option th:each="item : ${types}" th:value="${item.id}"-->
                            <!--th:text="${item.name}">dog-->
                    <!--</option>-->
                <!--</select>-->

            <!--</div>-->
        <!--</div>-->

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${pet['new']} ? 'Add Pet' : 'Update Pet'"
                    class="btn btn-default" type="submit" th:text="${text}">Add
                Pet
            </button>
        </div>
    </div>
</form>

</body>

</html>