<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List Of Vets</title>
</head>
<body>
<h1 th:text="'List Of Vets'">List Of Vets...</h1>

<table class=" table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet: ${vets}">

        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Joe</td>
        <td th:text="${vet.lastName}">Buck</td>
    </tr>
    </tbody>

</table>
</body>
</html>