<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List Of Vets</title>
</head>
<body>
<h1 th:text="'List Of Vets'">List Of Vets...</h1>

<table class=" table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 150px;">Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet: ${vets}">

        <td th:text="${vet.firstName+' '+ vet.lastName}">Joe</td>
        <td>
            <!--<table class="table-condensed">-->
                <!--<tbody>-->
                <!--<tr  th:each="specialty: ${vet.specialties}">-->
                    <!--<td >-->
                        <!--<span th:text="${specialty.description}"/>-->
                        <!--<span th:if="${vet.getSpecialties().size()==0}">-->
                <!--None-->
            <!--</span>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
            <span th:each="specialty: ${vet.specialties}"
            th:text="${specialty.description+' '}"/>
            <span th:if="${vet.getSpecialties().size()==0}">
                  None
                </span>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>